.container {
  display: flex;
  align-items: flex-end;
}

.container ::placeholder {
  color: rgba(66, 161, 250, 0.8);
}

.infoMessage {
  font-size: 0.8rem;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(66, 161, 250, 0.29);
}

.input,
.button {
  border: 1px solid rgb(66, 161, 250);
  color: rgb(66, 161, 250);
  background-color: transparent;
  padding: 0.5rem;
  margin-right: 0.5rem;
}