.container {
  align-items: flex-end;
  display: flex;
}

.container ::placeholder {
  color: rgba(66, 161, 250, 0.8);
}

.infoMessage {
  font-size: 0.8rem;
}

.input,
.button {
  background-color: transparent;
  border: 1px solid rgb(66, 161, 250);
  color: rgb(66, 161, 250);
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.button {
  box-shadow: 1px 1px 1px rgba(66, 161, 250, 0.5);
}

.button:hover {
  background-color: rgba(66, 161, 250, 0.29);
  cursor: pointer;
}

.button:active {
  box-shadow: none;
  left: 1px;
  position: relative;
  top: 1px;
}