.navigation {
  display: flex;
  list-style-type: none;
}

.link {
  color: rgb(66, 161, 250);
  margin-right: 0.7em;
  padding: 0.6em;
  display: inline-block;
  text-decoration: none;
}

.link:hover {
  text-shadow: 0 0 10px rgb(66, 161, 250);
  transform: scale(1.2);
}