.navigation {
  display: flex;
  list-style-type: none;
}

.link {
  display: inline-block;
  padding: 0.6rem;
  text-decoration: none;
}

.link:hover {
  text-shadow: 0 0 0.5rem rgb(66, 161, 250);
  transform: scale(1.2);
}