.form {
  padding: 0.5rem;
}

.infoMessage {
  font-size: 0.8em;
}

.input,
.button {
  background-color: transparent;
  border: 1px solid rgb(66, 161, 250);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.button {
  flex: 1;
  margin-left: 0.5rem;
}
.button:hover {
  cursor: pointer;
  background-color: rgba(66, 161, 250, 0.29);
}

.container {
  display: flex;
  margin-top: 0.5rem;
}