.container {
  align-items: center;
  background-color: rgb(22, 22, 22);
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 0.5rem;
  display: flex;
  flex: 1.5;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.text {
  margin: 0.5rem;
}