.main {
  background-color: rgb(12, 12, 12);
  border-radius: 0.5rem;
  margin: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.20);
  padding: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-around;
}