.footer {
  background-color: rgb(12, 12, 12);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.20);

}


.greenLink:hover,
.yellowLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.greenLink {
  color: rgb(5, 248, 5);
  text-decoration: none;
}

.yellowLink {
  color: yellow;
  text-decoration: none;
}
