.header {
  align-items: center;
  background-color: rgb(12, 12, 12);
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;

}

.title {
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-decoration: none;
  text-shadow: 0 0 0.5rem rgb(66, 161, 250);
}